[2013-04-05 19:47] mahmoudimus opened #1 "Have a recurring bank debit task that executes on configurable business rules."
Some marketplaces use Balanced mainly for next-day ACH.

If you're also performing card processing with Balanced, you will always carry an escrow from the card transactions. If you're only using Balanced to pay customers, they you have to fund the yourself. This means the escrow can run out, which will cause transactions to fail.

Balanced should add the ability to specify, in the dashboard, a min

[2013-04-05 19:47] mahmoudimus commented on #1
migrated from balanced/balanced-api/issues/110

[2013-04-05 19:53] weffey opened #2 "Can frequency have an "frequency length" ?"
"Frequency length" probably isn't the best term to use, but we sell our subscriptions in the following intervals:
- 1 month
- 2 months
- 3 months
- 4 months
- 6 months
- 12 months / 1 year
- 24 months / 2 years
- 36 months / 3 years

Maybe add another optional property to Frequency(object)?

[2013-04-05 21:12] mahmoudimus opened #3 "Automatic Subscriptions"
(migrated from balanced/balanced-api#183)

Program API interface to show usage:

[code]

For reasoning. As a Balanced user I should not have to perform manual subscription handling, unless I need that control. Balanced should handle subscription creation, pricing, subscription interval, and apply filters to the subscription to effect payments, such as coupons.

I currently handle the subscription

[2013-04-06 22:30] SecurityForUs commented on #3
I mentioned this on IRC last year mate, glad to see this being implemented though.  Will definitely bring in some use as I know a few people who would like this.

[2013-05-15 20:11] askedrelic commented on #1
+1 for this, we're just getting setup with balanced and this would be useful. will just jury-rig it for now

[2013-05-23 15:54] mcandre commented on #3
:+1:

Yes, please! Currently, PopPoney is the only online peer-to-peer payment system that offers this extremely useful feature. Not even PayPal does this.

[2013-05-31 00:34] pnegahdar opened #5 "How to handle 'months' in recurring billing"
Currently months are handled using dateutil's relativedelta. A sample output:

How good is this 'monthly' strategy for a recurring billing system? Someone pointed out this http://bit.ly/15gLHsZ as an alternative strategy. I think this way makes more sense because you stay within the scope of the current month and it automatically adjusts for leapyears, shorter months, etc.

[2013-06-05 23:25] pnegahdar opened #8 "Feature: Refill Billing"
Scenario:
-Customer account balance automatically add $20 everytime the balance reaches $5
-Predefined microcharges reduce balance e.g. $0.01 per SMS reduce balance

Good billing/payment strategy for low cost products. Works well with creditline billing (see other feature)

[2013-06-05 23:27] pnegahdar opened #9 "Feature: Creditline billing"
Similar to Refill billing but instead charges accumulate and clear after a certain limit.

Scenario:
-Give user a line of credit (e.g. $10)
-Charge microitems to balance
-Once balance hits line of credit a charge is made and the balance is cleared

Another good solution to microbilling.

[2013-06-06 03:59] nodesocket opened #10 "Generate customer e-mail recipes on plan subscription"
## Inspiration

![screen shot 2013-06-05 at 7 57](https://f.cloud.github.com/assets/523312/616192/723f1164-ce5d-11e2-8d50-64013e0b8608.png)

[2013-06-19 15:04] mjallday opened #13 "Write a tutorial"
I just found this sweet recurring billing software called Billy. It looks totally awesome but I don't know how to use it. It sure would be cool if there was a tutorial that showed me how :)

[2013-06-21 15:17] mjallday opened #14 "Create a setup script"
I just cloned the repo and tried to run the tests.

I needed to manually install the nose test runner and now I'm getting errors about the db and user not existing.

It would be great if I could run something like `./scripts/db-recreate-test` which would ensure those exist for me.

[2013-06-27 19:40] chadwhitacre opened #15 "will this work for Gittip?"
[IRC](https://botbot.me/freenode/balanced/msg/4129879/)

[2013-06-27 19:45] chadwhitacre commented on #15
Gittip runs weekly. The current algorithm is:
1. Loop over all Gittip "participants," charge credit cards, and disburse funds to other participants within Gittip.
2. Loop over all Gittip participants and disburse funds from "team" participants to their participant "members" within Gittip.
3. Loop over all Gittip participants and deposit to bank accounts.

This is all done in a way that is fault-to

[2013-06-27 19:52] pnegahdar commented on #2
The intervals object has a custom method that allows you to specify any arbitrary interval. Check it out here: https://github.com/balanced/billy/blob/master/billy/utils/intervals.py

Is that what you're referring to?

[2013-06-30 03:40] pnegahdar opened #18 "Build API Base"
Build API layer on top of models using flask. Should be good man.

[2013-06-30 03:40] #18 closed, assigned to pnegahdar

[2013-07-30 14:56] fangpenlin opened #22 "Keep tests in good style"
I had a glance on the test code, I think it needs some clean up. For example, import statements should not be put in the module level. In cases, some modules are missing, other tests can continue.

For example, this

[code]

is better than

[code]

For more guideline, please reference to this article:

http://docs.pylonsproject.org/en/latest/community/testing.html

It is Pyramid testing guideline,

[2013-07-30 15:23] mjallday commented on #22
We generally follow pep guidelines for python coding - http://www.python.org/dev/peps/pep-0008/#imports - in this case the format is:
1. standard library imports
2. related third party imports
3. local application/library specific imports

It's a decent opinion but if a module is missing I (hope) it would never be checked in so it wouldn't break. We'll keep the current formatting since it's intern

[2013-07-30 15:23] #22 closed, assigned to nobody

[2013-07-30 15:26] fangpenlin opened #23 "Import billy project module in either absolute or relative manner"
It is better to import project modules in a certain package. For example, code like this

[code]

Should rewrite in

[code]

style. Otherwise, you cannot understand which one is from your own project, which are from other third-party packages. Also, it will be error prone in certain situation. If it is a relative import, for example

[code]

In module_a.py, you can import module_b.py and module_c.

[2013-07-30 15:40] mjallday commented on #23
+1 on not using relative imports, they always bite me during refactoring.

[2013-07-31 00:36] fangpenlin commented on #22
Actually, when a module is missing, surely tests will be broken, it only matters where and how it breaks it. For module level imports, the whole test module is broken. For function level imports, only specific cases are broken.

For instance:

[code]

In above code, the whole testing module will raise ImportError, no test cases will be executed. Surely the test is broken, but it breaks everything.

[2013-08-06 10:48] fangpenlin opened #24 "Billy enhancement proposal"
This project works fine, so far so good. However, the barrier for letting people getting work on this project is a little bit high, namely, technical debt should be reduced. I would like to do some major refactorying. Before we go into implementation, some goals to achieve are listed here to remind us.
#1. Documentation

We should write some documents. Developer could understand how to use this pr

[2013-08-06 15:51] fangpenlin opened #25 "Define operations and usage scenarios clearly"
@mahmoudimus

As mentioned section 4 in #24, I think we need some definitions about what kind of operations this service should provide and what kind of scenarios to use them. I think one of reasons I have no idea how to contribute on this project is that I cannot find documents about this in the project. What is a plan, what is subscription and so on.

I see you have wrote

[code]

in readme file

[2013-08-06 16:12] mjallday commented on #25
I agree that we need to document scenarios, it will help define the API.

One customer in #15 has already described their scenario. Internally I know we have a few scenarios that we'd like to cover, let's document them!

[2013-08-07 16:47] matin commented on #25
Could we use the same schema and scenarios format as https://github.com/matin/balanced-api/tree/revision1 ?

[2013-08-07 19:49] pnegahdar commented on #24
Hey

1) Agreed. Documentation is sparse because everything is still being moved around heavily. Once we reach a slightly stable point a good day of pure documentation is needed

2) This is a feature of SQLAlchemy's declarative models. We decided to go with declarative since it is more easily hackable since viewing that one class tells you all you need to know about the table structure and the logi

[2013-08-10 07:49] fangpenlin commented on #24
@pnegahdar

Thanks for your input. About using SQLite, could you explain your concern? Because I am pretty sure SQLite can be used in production environment (although my main idea is to ease the barrier for developing billy). It's only a matter of what kind of scale it is, is it suitable. SQLite has its drawback, it is not good for highly concurrent read and write due to its locks.

SQlite is used

[2013-08-11 10:28] fangpenlin opened #31 "How can I run tests?"
@pnegahdar

I am trying to work on billy project, however, I cannot get tests work. How can I run them correctly?

I tried `nosetests` on the `mater` branch, and basically everything failed

[code]

The complete dump: https://gist.github.com/victorlin/6204313

It appears that something goes wrong with import issue and table declarations. So, I tried my import fixed branch, and I get other tons of

[2013-08-11 10:57] fangpenlin opened #32 "Keep coding style in PEP8"
Maybe we should keep the coding style more closer to PEP8. It doesn't have to be 100% PEP8 style, as some of these rules are not required in certain situations (we can ignore that in flake8 configuration), for example, the E601, line too long rule, when we can always view and edit code in a big screen, this might not be too important.

However, the current PEP8 compliance situation is horrible. Th

[2013-08-11 16:07] #23 closed, assigned to nobody

[2013-08-11 16:09] #14 closed, assigned to nobody

[2013-08-11 16:14] pnegahdar commented on #31
Only the new model tests (they arent unit yet, just basic model test) are currently not broken. I just redid all the models so they're much cleaner and will have to soon redo api parts to use the new model interface.  The api is currently compelely broken. The models tests should be run using

nosetests billy/tests/test_models/ and they should pass safely (I need to add transactional testing back

[2013-08-11 16:14] #31 closed, assigned to nobody

[2013-08-11 16:29] pnegahdar commented on #24
@victorlin

Thanks for that link, interesting testing scenarios there. My concern with SQLlite isnt the robustness of it, but rather the common-case usability of it. Here are some things that come to mind that pushed us towards Postgres:

1) Balanced uses pg interally so it made sense since its already part of the stack
2) the setup process for pg isn't much more difficult
3) the deployment strate

[2013-08-11 16:33] pnegahdar commented on #32
+1, planning on autopep8 a round after some more tests are written and then enforce pep8 throughout.

[2013-08-12 00:30] fangpenlin commented on #24
@pnegahdar

A big point there is when you are going to run tests, or start some quick hacks, you will not like to install a SQL server just for it, unless it is a really interesting project. I had a completely start over branch there trying to reach best practices with minimum features, you can reference to it

https://github.com/victorlin/billy/tree/major-refactory

It uses SQLite as the backend.

[2013-08-12 01:42] fangpenlin commented on #31
Yeah, I think we definitely should figure a way to work these out together. However, I have some points want to list here to remind us.

#### Write expressive commit messages

I saw there are many commit messages are like
- yo
- gota go
- time to eat

Or anything like that. If one is doing this in his private project, nobody would care. However, we are developing a public facing open source projec

[2013-08-12 03:48] pnegahdar commented on #31
Relax my man. One overarching theme here is that Billy isn't at a stage yet where other developers are going to contribute. As you (hopefully) can tell by the 8k LOC change in 1 week. Concerns like master vs develop, setup.py configuration, import configs that get fixed with a simple refactor etc are all premature if you keep this in mind. Right now the biggest concern should be getting something

[2013-08-12 05:29] fangpenlin commented on #31
I am sorry, I know I am a little bit picky on software development practices, but that's because it is important to do the good practice at the very first time when it is possible and not difficult to do. It's all about cost and quality.

There are some stories happened when I am working with my former employer, I can share some with you

#### Story 1, a developer committed code like this

[code]

[2013-08-12 07:22] pnegahdar commented on #31
I guess its depends on programming style. I believe, especially at this stage, that a refectory process is fine, and the the technical debt you speak of is no where this big a deal as you make it. However, I think we'd both agree that if time loss is really an issue, pull requests work substantially better and more efficiently than unnecessarily long writes ups as PRs solve the issue and inherentl

[2013-08-12 07:40] pnegahdar commented on #24
@victorlin as I said:

[code]

I'm no longer full-time maintainer of billy, I will be working on it sometime this week to update the API but for other changes please check with @mahmoudimus and make the appropriate decision with a pull.

[2013-08-12 08:58] fangpenlin commented on #31
A whole project wise import issue is actually the technical debt. As you see that is error-prone and indeed it causes many problems when I tried to run the tests. If you are building a few scripts project that's totally fine to do what you are doing here. However, this is a small to middle size project, do import like that you have no idea when you will got bite.

Also, the point is, omitting the

[2013-08-12 11:42] fangpenlin commented on #31
I think over this again, I was over reaching. I apologize. I just want to get start work on this project as soon as possible. Sorry for that.

[2013-08-12 16:49] pnegahdar commented on #31
Na man, its cool you're raising very valid points. The issue I'm having with this is perspective. For example, the billy prefix is absolutely correct and it was the first way I did it ( https://github.com/balanced/billy/commit/20439ca05a592fb8a8dfdcfc08d2467a847cd931 ), however, I decided to experiment on the potential of distributing billy as a 3 distinct packages and made the switch. Since I was

[2013-08-13 04:32] fangpenlin commented on #25
The scenarios I mean here are basically the requirements of this system. I prefer to do it in a more human readable way to express it. I just want to create some clear direction and goals of this system, with big pictures thing can be done easily and correctly.

I think I just write down everything came to my mind and clean them up later. I am writing these also for making sure my understanding to

[2013-08-14 08:54] fangpenlin commented on #25
@matin @mjallday @mahmoudimus

Is this direction looking fine for you guys?

[2013-08-14 17:30] matthewfl commented on #25
@victorlin I don't know what interface you are going to build for the billy api, but in the next revision of the balanced api we are going to support [jsonapi](http://jsonapi.org/).  We are already building tooling around running scenarios of [this](https://github.com/balanced/balanced-api/blob/revision1/scenarios/debits/debit_bank_account.yml) form.  It is currently set up to validate all request

[2013-08-14 17:48] mjallday commented on #25
@matthewfl i believe this is the internal interface, not the external API interface.

@victorlin that's a great base. do you think we need to define edge cases at this level such as
1. what happens if you cancel a subscription half way through a month?
2. what happens if you change subscription plan half way through a month?
3. can i apply discounts for select customers or would i define this by a

[2013-08-15 00:30] fangpenlin commented on #25
@matthewfl

These are just the way I think how user will use them. They are not final API design, just a rough way to express how it should work. I need to make sure this direction (big picture) is correct before I get started on this, otherwise that would be a trail and error. We can always write these human readable scenario into JSON for running tests later.

@mjallday

Yeah, that would be help

[2013-08-16 02:48] mahmoudimus commented on #25
@victorlin - you definitely have the model down correctly. When do you want to work on the scenarios? Ping me on Google chat or IRC channel

[2013-08-16 05:27] fangpenlin commented on #25
@mjallday

I have already updated the scenario, see if this meet the requirement.

However, I cannot understand your second scenario,

Could you clarify this?

[2013-08-16 15:13] mjallday commented on #25
Let's say you have a monthly recurring plan.

Tom, our customer, subscribes to the medium plan, he gets billed for the first month. Half way through that month he decides he needs another plan and changes his subscription.

Ideally the change would go into action instantly but the price of the plans is different. Do we refund half (2/4 weeks) of the first plan and then charge half (2/4 weeks) of t

[2013-08-16 22:26] mahmoudimus commented on #24
@victorlin @pnegahdar you both have really valid arguments however I have to lean towards the side of @pnegahdar here.

@victorlin your concerns are easily addressed using something like Vagrant where we use VirtualBox to control the environment of hacking on Billy.

What you're really asking for is, how quickly can we get up and running to hack on Billy. Vagrant solves this problem. All you have

[2013-08-17 05:42] fangpenlin commented on #25
@mjallday Yeah, that could do. I prefer to provide minimum and complete interface, i.e, you can do anything you like to do (you should be able to do) with minimum interfaces. But I will also provide sugar if that can ease some work and reduce error chance.

[2013-08-17 08:21] fangpenlin commented on #24
Personally, I like to use tools that can let us reach the goals with minimum effort but also provide good quality. I also prefer lightweight weapons when heavy weapons cannot bring too much benefits. For this project billy, at this moment, at this complexity and requirements, there is no need for heavy weapon. The core business model here is pretty simple and clean, when to charge, who to charge,

[2013-08-19 08:19] fangpenlin opened #34 "How to deal database failure with Balanced API calls?"
I would like to ask a question about how can I deal with database transaction failure with Balanced API calls?

For example, here I am processing a single transaction generated from a subscription

[code]

This could work fine if everything goes well, however, when a crash or something bad happens during processing this, let's say, the final `update_transaction` is not done successfully. In this c

[2013-08-19 09:04] fangpenlin opened #35 "Float number rounding up policy?"
As we are processing money, I think maybe we should be careful with float numbers rounding up issue. Currently, I use

[code]

for all money fields (also for discount field). I am not sure are two digits float number good enough. Also, we have `discount` for subscriptions, and we have `prorated_refund` for canceling a subscription. In this two cases, money amount could be rated. It could be

[code

[2013-08-19 14:54] mjallday commented on #35
The Balanced API send and receives all money values as integers since everything is represented via cents.

This is an easy way to implement since a cent is the smallest amount of money that can be represented via a transfer. In fact, the minimum amount that can be sent via the Balanced API is 50 cents.

Are there any scenarios where you need to record a fraction of a cent?

[2013-08-19 14:57] mahmoudimus commented on #35
@mjallday he's talking about percentages (like 30% off) - what's the rounding policy? I believe our policy is round down to the nearest cents.

[2013-08-19 15:22] mjallday commented on #34
You can use the meta to filter transactions, here's an example:

[code]

[2013-08-21 02:57] fangpenlin commented on #25
To make it more flexible, I made some changes to the usage and the models.

### 1. Add an `amount` field to replace `discount` field

As I think sometimes we may want to overwrite the amount of plan in subscription. And `discount` is somehow a way to overwrite the `amount` from plan. So I decide to replace it with `amount` field for overwriting the one in `plan`.

So, the way we do discount 0.3 wi

[2013-08-21 03:10] mjallday commented on #25
@whit537 do the proposed changes mentioned in @victorlin's last message help accommodate Gittip's use-case outlined in #15?

[2013-08-26 06:16] mahmoudimus opened #36 "Metered invoicing support"
Balanced internally has built its own (very simple) metered billing system to instrument our customer's use of the API.

We collect some statistics on their usage and at 0:00 UTC every day, we generate an invoice for that business day and then settle it.

I want to move this logic out of Balanced and into Billy. Ergo, Billy should support metered billing support and the Balanced dashboard should u

[2013-08-26 10:31] fangpenlin opened #37 "Create Vagrant environment and Chef code for integration testing and deployment"
For now we have unit tests and functional tests, but we don't have easy-to-setup integration testing environment yet. To make it as easy as possible to run integration tests and deploy, we should write a Vagrant environment with Chef code for it. Then we can run it easily like

[code]

As I don't think it is a good idea to include Chef code directly in this project, I think we can use a `.gitmodul

[2013-08-26 10:34] fangpenlin opened #38 "Add a license file"
I see we are using MIT and BSD license in dashboard, but I cannot find a LICENSE file in this repo. I think I should add one. Can I just copy the one from https://github.com/balanced/balanced-dashboard/blob/master/LICENSE ?

[2013-08-26 10:43] fangpenlin opened #39 "Write an easy-to-use Python API client"
Although billy has a RESTful API, it is still better to have a easy-to-use Python API client library that the usage might like what I mentioned in #25.

However, this is not a priority task as the API may not be stable for a period. Also, we should take care of naming problem as `billy` is already used by the server project. Maybe we can use `billy-client` for Python project name (in PyPi and gith

[2013-08-26 10:55] fangpenlin opened #40 "Decide the API style"
The current REST API design is pretty much like what I mentioned in https://github.com/balanced/billy/pull/33#issuecomment-23158646 . I try to make it looks like Balanced API, however, there are something different from details to details.

The Balanced API uses URI as the `ID` for passing around, I don't know the design rationale here (about version distinguishing?). Maybe we can adjust it to do

[2013-08-26 14:03] fangpenlin opened #41 "Implement subscription canceling and plan deleting"
Subscription canceling and plan deleting are not implemented, yet.

I think when we delete a plan, all subscriptions to it should also be canceled.

The refunding (in processor and process_transactions script) is also not implemented. So, if we want to implement prorated_refund, we need to implement refunding first.

[2013-08-26 14:10] fangpenlin opened #42 "Implement record listing"
Record listing is not implemented yet. For now, we only have transaction list for a company

[code]

maybe it would be nice to have transaction listing for a subscription or for a plan and customer? Like

[code]

Maybe we should consider this with #40, see what kind of style we should use.

[2013-08-26 15:19] mjallday commented on #39
In our internal projects we name the services `xxx_service` e.g. `balanced_service` since the client libraries are directly used by more people than the actual services that support them. Our individual client library repos end up being `service-language` e.g. `balanced-python` but the package name would simply be `balanced`.

[2013-08-26 15:21] mjallday commented on #40
We use an internal framework called `l00b` that could make this very easy to develop in a similar style to Balanced's API. Open sourcing that framework could really help make this task easy.

[2013-08-26 15:29] mjallday commented on #36
How would this work? Would Balanced generate a list of customers and amounts and then call out to Billy's API in order to handle billing?

Billy would need to support pushing notifications to customers via email since Balanced currently does this to notify of failed invoice charges. Possibly Billy could support webhooks instead and call back on failed charge attempts as an interim step.

[2013-08-26 18:38] #38 closed, assigned to nobody

[2013-08-26 18:41] mahmoudimus commented on #36
The idea is that the pricing page (https://github.com/balanced/www.balancedpayments.com/issues/14) should be implemented using Billy. How can we integrate Balanced into Billy?

Since Balanced puts a ton of focus on eating its own dog-food, Billy should be used as its invoicing tool. How can we do this via Billy?

That logic should be in Balanced, where Balanced queries Billy for instrumented event

[2013-09-03 01:06] fangpenlin opened #44 "Deploy billy to EC2"
Deploy billy to an EC2 instance with Chef.

@victorlin Write the steps to deploy here later.

[2013-09-03 04:51] fangpenlin commented on #44
Okay, I just deployed it to my EC2 instance

http://ec2-54-219-21-15.us-west-1.compute.amazonaws.com

To run integration testing against it, you can run

[code]

This could subscribe recurring charging to a new credit card.

![2013-09-03 12 47 42](https://f.cloud.github.com/assets/201615/1070444/1537dc5c-1454-11e3-8688-433a2674da4a.png)

[2013-09-03 06:06] fangpenlin commented on #44
### To deploy via Chef

Mainly reference to http://www.captnswing.net/2013/01/from-vagrant-to-ec2-with-knife-solo.html

Clone the billy project

[code]

clone chef submodule

[code]

cd to the chef folder

[code]

install knife solo and ec2 plugins

[code]

create new ec2 instance, Ubuntu 12.04.1 LTS (Precise Pangolin)

[code]

(find corresponding Ubuntu image id here http://cloud-images.ubuntu.co

[2013-09-03 18:26] nodesocket commented on #44
Amazing work @victorlin

[2013-09-05 17:58] #35 closed, assigned to nobody

[2013-09-06 06:15] fangpenlin opened #45 "Limit failure times of a transaction"
The way we process transactions periodically is like this

[code]

We yield transactions for recurring charging/paying-out/refunding as `transaction` records in the database. The initial status is `INIT`, then we process them. If everything goes well, it should then transit into `DONE` status. However, when something goes wrong, it will go into `RETRYING` status, and we will try to process it agai

[2013-09-06 08:14] fangpenlin opened #46 "Setup Travis CI"
Setup Travis CI (https://travis-ci.org) for billy project

[2013-09-06 15:04] mjallday commented on #46
we should include code coverage checks if you can.

[2013-09-06 15:07] mjallday commented on #45
@victorlin you get that for free when you have travis ci integrated.

agree that we should try and never break master going forward.

[2013-09-11 14:03] #32 closed, assigned to nobody

[2013-09-11 14:15] #45 closed, assigned to nobody

[2013-09-12 14:13] #42 closed, assigned to nobody

[2013-09-12 14:18] #34 closed, assigned to nobody

[2013-09-12 14:23] fangpenlin commented on #5
@pnegahdar
Nice third-party package evaluation and decision you made there. By using dateutil, it saves lots of my time. Thanks.

So far, I think this approach is good enough for most use cases, so I close this issue here.

[2013-09-12 14:23] #5 closed, assigned to nobody

[2013-09-12 16:03] fangpenlin commented on #2
This feature has been addressed by the `interval` parameter to `Plan` creating mentioned in #25

[2013-09-12 16:04] fangpenlin commented on #2
@weffey Does it meet your requirements?

[2013-09-12 18:35] mahmoudimus opened #50 "Going Live"
When we host billy - how will we want to host it?
- https://billy.balancedpayments.com
- https://api.billy.balancedpayments.com

OR
- https://billybybalanced.com
- https://api.billybybalanced.com/

What do you think? /cc @victorlin

[2013-09-12 18:37] mahmoudimus opened #51 "PyPI and clients"
The name `billy` is already taken on PyPI.

Should we:
- rename the project to `billie`?
- Publish the project as `pybilly`?

[2013-09-12 18:44] mahmoudimus commented on #51
- What would we name the api clients?
- What would the package name be for hacking?

[2013-09-12 20:17] mjallday commented on #51
Billing

`pip install billing` is available

`python-billing`, `ruby-billing` sound good, and it's very self explainatory

[2013-09-12 20:18] mjallday commented on #50
billing.balancedpayments.com (works with my suggestion on #51)

[2013-09-13 14:06] fangpenlin commented on #50
I feel the same with @mjallday

[2013-09-13 14:06] fangpenlin commented on #51
@mjallday sounds good to me as well

[2013-09-18 02:47] #41 closed, assigned to nobody

[2013-09-23 08:07] #37 closed, assigned to nobody

[2013-09-23 08:40] fangpenlin commented on #36
@mahmoudimus
My understanding here is, billy monitors and collects events from balanced (via the web hook). Then billy generates invoices for customer everyday. Is this correct?

As the balanced service is already doing invoicing, and I think it is doing it correctly. So, I can make billy to generate invoices, run it for a while, compare the output to see is billy working correctly. And eventually

[2013-09-24 16:38] mahmoudimus commented on #51
I'm ok w/ it being `billing`

[2013-10-01 01:30] fangpenlin opened #54 "Setup beta environment"
@mahmoudimus @mjallday @msherry

As we know there are customers waiting for billy beta environment. I think we should setup one as soon as possible. Almost everything is ready to go.

We have a Chef repo for deploying it

https://github.com/victorlin/billy-chef

It is already running on my own EC2 instance mentioned at #44, but I don't think it is a good idea to run Balanced service on my own inst

[2013-10-02 03:10] 40 commented on #13
BUMP.

[2013-10-02 15:28] fangpenlin commented on #13
@40

I just wrote a rough tutorial for billy, you can read it at http://balancedbilly.readthedocs.org/en/latest/index.html

[2013-10-02 16:09] 40 commented on #13
Thank you.

[2013-10-04 12:20] fangpenlin commented on #54
The server is working now at

http://billing.balancedpayments.com/

However, currently a self-signed cert is using for HTTPS, so you will see a warning if you are connecting to it via HTTPS.

[2013-10-04 15:31] mjallday opened #55 "Missing dependency"
I created a new virtualenv and installed billy by running `python setup.py develop && pip install -r requirements.txt`

Next, I tried to run `initialize_billy_db development.ini`

[code]

Running `pip install pysqlite` fixes the issue but I'm not sure if the dependency is incorrect or if it's missing.

[2013-10-04 15:32] mjallday commented on #46
This seems to have regressed, reopening.

[2013-10-04 15:34] #13 closed, assigned to nobody

[2013-10-04 16:03] fangpenlin commented on #55
hummm... odd, sqlite3 is a build-in package, it should be there in most cases, did you turn it off when you were compiling python from source code? As I see it should be OSX you are using there. Maybe it is caused by the virtualenv? Could you import sqlite3 in the real Python environment? Try

python -c "import sqlite3"

[2013-10-04 16:09] fangpenlin commented on #46
@mjallday regressed?

[2013-10-04 16:14] mjallday commented on #46
Hmm, maybe not regressed. Rather, there is no travis-ci icon on the README to show the status of the build. I just turned on travis-ci for billy so we should see builds going through there. - https://travis-ci.org/balanced/billy

[2013-10-04 16:19] #46 closed, assigned to nobody

[2013-10-04 19:08] nodesocket commented on #54
404 ?

[2013-10-05 00:26] fangpenlin commented on #54
@nodesocket There was no view at the root path, I just create a server information page there via #57, this should clear user's doubt.

[2013-10-05 00:28] #24 closed, assigned to nobody

[2013-10-05 00:30] nodesocket commented on #54
@victorlin Cool. Is the documentation live?

[2013-10-05 00:32] fangpenlin commented on #54
@nodesocket You can find the document here http://balancedbilly.readthedocs.org/en/latest/index.html

[2013-10-05 00:33] fangpenlin commented on #54
Currently, only end-user parts are covered, I will add guides like how to setup the server and so on to it.

[2013-10-05 01:20] nodesocket commented on #54
That's some beautiful doc you got there. :) How did you build this?

[2013-10-05 01:22] nodesocket opened #58 "Should amounts be in cents?"
[code]

[code]

[2013-10-05 01:28] fangpenlin commented on #54
@nodesocket I use [sphinx](http://sphinx-doc.org/) with [Readable theme](https://sphinx-readable-theme.readthedocs.org/en/latest/) (a flask like theme)

To build it, you have to install dependencies first, type

[code]

and

[code]

If you are editing the documents, you want it rebuild automatically, you can use the little script I wrote `autobuild.py`, it monitors file changes in document directo

[2013-10-08 16:19] mjallday opened #60 "`vagrant up` not running successfully for me on OSX"
I get the following output:

[code]

I started with a clean slate by running `vagrant destroy && vagrant up`

[2013-10-09 00:18] fangpenlin commented on #60
@mjallday Which billy-chef revision you are using? That chef repo build once failed on Travis CI, and I did some modification to postgresql cookbook, but it turns out it will fail in other environment, I recall the error you are seeing here is exactly the one I saw. So, I change it back then. Could you update the billy-chef to the latest revision on master branch and try again? It works fine on my

[2013-10-09 01:38] mjallday commented on #60
That seems to work for me. Thanks.

Before I close this ticket, is there anything else I need to do to get Billy running in vagrant? I just ssh'd in and don't seem to  see it running

[code]

[2013-10-09 01:49] fangpenlin commented on #60
@mjallday Did you run

[code]

to make sure the chef is executed on that VM? Because your very first provision in `vagrant up` is aborted, you will need to run `vagrant provision` to rerun the chef again.

If you did, there might be something wrong. I install the server at `/home/billy/billy_server` by default. I use [supervisor](http://supervisord.org) for running those servers. You can su into b

[2013-10-09 15:00] mjallday commented on #60
That's it!

[code]

Thanks @victorlin

[2013-10-09 15:00] #60 closed, assigned to nobody

[2013-10-11 16:24] fangpenlin opened #62 "Define invoicing usage scenario"
With some inputs from a customer and the scenario of how invoice is processed in balanced, I have a better understanding of what invoicing should be.  For now, I am staring to describe usage scenarios here, improve the design gradually, and implement it when it looks good.

Some wanted features here:
- Emailing customer when a invoice is generated
- Generating invoices based on usage

Unlike what

[2013-10-12 16:32] mjallday commented on #62
From a product development standpoint I think the email functionality should come after the basic Billy system is running. From a Balanced developer who wants to replace Balanced's invoicing billing with Billy's billing system and to speed up development of the system I would suggest that Billy **generate events via webhooks** rather than emails initially so that Balanced can listen for those even

[2013-10-12 17:50] matin commented on #58
Why wouldn't they be?

[2013-10-12 17:56] matin opened #63 "How does retry logic work?"
One of the things that we've seen with companies that have recurring billing or delayed invoicing is a higher than normal rate of Soft Failures when charging a card. A Soft Failure is a card declination where you can retry later and possibly have the card approved.

Here are a few examples:
1. Insufficient funds. The card holder may pay off their balance the next day, which means you can now charg

[2013-10-12 17:58] matin commented on #63
There's actually another example where the issuing bank's processing systems are down. It happens more than expected.

I can document some of the declination codes here.

[2013-10-14 08:21] fangpenlin commented on #63
For recurring billing, current transaction model works like this

![Transaction state diagram](https://f.cloud.github.com/assets/201615/1094010/8f24df2a-16ba-11e3-8899-7404f3770a95.png)

Transactions are yielded from subscription periodically, they will be processed at scheduled time. Once failed, it will go into **RETRYING** status, when the error count exceeds the limit, then it will go into **F

[2013-10-14 08:45] fangpenlin commented on #62
@mjallday I agree that we can reuse existing email system. However, some customers want this feature, is it flexible enough to send invoice emails for our clients?

Retrying mechanism of invoicing is explained at #63

[2013-10-14 08:53] fangpenlin commented on #62
![billy_erd_rev2](https://f.cloud.github.com/assets/201615/1324250/2a442df2-34ad-11e3-9575-4e25fac61812.png)

The new ERD diagram, an `Invoice` table is added. And I divide original `Transaction` into `SubscriptionTransaction` and `InvoiceTransaction`, both of them share the same model and inherits from `Transaction`. By doing that, we can leverage retrying mechanism introduced before.

[2013-10-14 17:02] matin commented on #63
@victorlin do you consider what the failure reason is? You shouldn't retry if there is a Hard Failure such any of the following:
- lost or stolen card
- invalid card
- canceled card

[2013-10-15 01:53] fangpenlin commented on #63
@matin make sense. will do.

@mahmoudimus @mjallday @msherry

What kind of hard failure errors (code or message) we are expecting from Balanced API? I try to read the source code, but cannot find something useful. I think they are from under-layer API.

[2013-10-15 01:58] mjallday commented on #63
@victorlin I think the Balanced API should return a flag indicating if it's a hard failure or not. the current error codes are vendor specific and it shouldn't be the job of services that consume the Balanced API to interpret 3rd party error messages.

There's an open issue to address this - https://github.com/balanced/balanced-api/issues/412

[2013-10-15 02:22] fangpenlin commented on #63
@mjallday So, how can I tell is it a hard failure or not from the response? For example, I received a response like this

[code]

[2013-10-15 02:24] fangpenlin commented on #63
New transaction state diagram, upon encountering hard failure, it will go into **FAILED** status immediately.

![billy_transaction_state_diagram_rev2](https://f.cloud.github.com/assets/201615/1330982/2d993d50-3541-11e3-8d01-38eb907d797d.png)

[2013-10-15 02:27] mahmoudimus commented on #63
Why would the API expose a flag telling you to retry? Just retry over intervals. Google for "dunning recurring billing" and you'll see a wealth of resources.

[2013-10-15 02:29] mahmoudimus commented on #62
When I push data to Billy, I would like to be able to do roll-ups on events after a certain time interval and have my own custom logic in my app to control what Billy charges and what it doesn't.

It makes sense because I will be managing hundreds of customers, some of which I have specific pricing tiers for. That logic shouldn't live in Billy, but in my app.

I will also add my own couponing logi

[2013-10-15 02:35] mahmoudimus commented on #58
@victorlin this is a bug - amount should be in cents.

[2013-10-16 00:22] #44 closed, assigned to nobody

[2013-10-16 00:22] #54 closed, assigned to nobody

[2013-10-16 00:23] #25 closed, assigned to nobody

[2013-10-16 01:43] #58 closed, assigned to nobody

[2013-11-07 02:33] fangpenlin opened #67 "Optional payment_uri parameter to create subscription bug"
The `payment_uri` parameter for creating a subscription should be optional. However, it appears we have a bug here, when the `payment_uri` is not given, Billy will interpret it as a empty string rather than None.

[2013-11-07 02:42] #67 closed, assigned to nobody

[2013-11-07 03:06] fangpenlin opened #69 "Fix misleading external_id parameter for creating a customer"
As the naming `external_id` implies, sounds it should be an ID, so user may misunderstand it, they may think it should be a GUID like `CUXXXXXXX...` from balanced service. However, it actually accepts only a complete URI in `/v1/customers/CUXXXXX` format. In that way, user may waste their time in trying it with invalid customer external id.

I am thinking renaming the `external_id` to `external_ur

[2013-11-11 09:09] fangpenlin commented on #62
## Create an invoice, update payment method later

Thinking about invoicing API, let say, Steve is running a cloud service, he has a customer Tim, at the end of a month, Steve's routine script creates an invoice and send it to Tim.

[code]

By the time invoice is generated, payment method is still unknown and not set by Tim, so we don't have to set `payment_uri` at this moment. Upon receiving the

[2013-11-11 16:21] mjallday commented on #62
`payment_uri` doesn't quite seem to be the correct terminology here. in this case it's a source of money, in Balanced we'd call this a `source_uri` or a funding instrument specific term like `card_uri`.

Also, what does the `payment_uri` point to? If it's a funding instrument in Balanced then it should be an absolute URI as opposed to a relative one since it's not internal to Billy right?

[2013-11-12 00:19] fangpenlin commented on #62
@mjallday

Yeah, you're right. As recurring transaction could be either charing or paying out, it could be `source` or `destination`, so I use `payment_uri`. But for invoicing, there should only be charging. It should be `source_uri` then.

So, you mean we should store the `source_uri` in Billy as a absolute URI like....

[code]

is my understanding right?

[2013-11-12 01:40] mjallday commented on #62
yeah, that way i think it's much more obvious that the uri refers to something outside of Billy.

[2013-11-12 04:22] fangpenlin commented on #62
Yeah, it's correct and obvious to use a complete URL to a resource in Billy. But by using it, it makes the usage a little bit more verbose, as in the current context, there is only one possible source of external resource which is Balanced. :S

For example, if I want to copy the resource URI from browser URL field of dashboard, I will only get

[code]

and if it should be a complete URL, then I ha

[2013-11-12 17:40] mahmoudimus commented on #62
@victorlin can you make it part of the company configuration? This seems like a company configuration to me.

If you register a company, I would want to tell it where my api is, right?

[2013-11-12 17:41] mahmoudimus commented on #62
@mjallday @victorlin actually, as long as the client library is being used, it will know what a source_uri is, wouldn't it? So why is this relevant?

[2013-12-02 19:31] chadwhitacre commented on #15
[IRC](https://botbot.me/freenode/gittip/msg/8360887/)

[2013-12-02 21:43] fangpenlin opened #70 "Make soft description can be changed by user"
As I see soft description for transaction is pretty important for reasons, and Billy currently doesn't allow user to set a soft description for transactions issued either by invoice or recurring payment, I think this is a must to have feature. Will add it after invoicing feature is finished.

[2013-12-02 22:20] mbr commented on #15
I've spent some of the weekend reading bits of source and a good deal
of API docs on balanced, Billy, gittip and some related software and
asked around IRC to get a feel for their problems. The result is, I
would not at the moment recommend try to aim for completely doing away
with the gittip script:

Their process currently seems to be, all internal details like current
balances inside gittip asi

[2013-12-02 22:39] mjallday opened #71 "Adjustments"
Often at Balanced, we need to make ad-hoc adjustments to invoices.

This can be done as part of an initial creation of an invoice or after an invoice has failed and is about to be resubmitted.

An adjustment can be for any arbitrary amount, both positive or negative and will have a string field associated with it describing the reason for the adjustment.

Can Billy handle this?

[2013-12-02 22:46] mjallday commented on #71
@mbr - we've got a couple of enhancements we want to make to billy in order to get it ready to process invoices for  Balanced. Can you work with @victorlin on this one? It may be that we can simple add [an item](https://github.com/victorlin/billy/pull/2/files#diff-ca7acf199912c04a1a7701c5f35c0191R32) to the invoice but the UI on the dashboard requires them to be grouped separately from other invoi

[2013-12-02 22:51] mjallday opened #72 "Dogfooding"
Once invoicing is implemented the best way to ensure that this code works as required will be to get Balanced to use it for production invoicing of marketplace fees.

A 3-step approach would be best
1. [ ] Create invoices via Billy alongside Balanced invoices and compare the results
2. [ ] Reconcile Billy invoices alongside Balanced invoices and compare the results
3. [ ] Submit invoices via Billy

[2013-12-02 22:54] fangpenlin commented on #71
@mjallday

I am not pretty quite understand the scenarios for adjusting an issued invoice, could you give me some examples?

So, adjustments are only allowed to be made when an invoice was failed? Or even when it was done?

[2013-12-03 02:01] mjallday commented on #71
![image](https://f.cloud.github.com/assets/252280/1660481/cc93776a-5bbe-11e3-8996-528fc3a33917.png)

This is an invoice generated by Balanced currently. We need to be able to replicate this functionality.

[2013-12-03 02:07] mahmoudimus commented on #71
a common request is that we should simulate invoices in test environments too

[2013-12-03 02:27] fangpenlin commented on #71
Some thoughts about fields in an item
- Type -> `type` field, the type of this item
- Quantity -> `quantity` field, quantity of this item
- Transaction amount -> `amount` field, total amount of processed transaction, althought this is not common in most applications, as we need this, we should meet our need first, so just add it anyway
- Fee -> `name` field, the `Fee` is actually a description fie

[2013-12-03 02:29] mahmoudimus commented on #71
@victorlin:
- why not call type, `event_type` - since billy will just be listening for interesting events and aggregating right?

all the others look good!

[2013-12-03 02:33] fangpenlin commented on #71
@mahmoudimus
Because I want to make Billy meets common usage scenarios as much as possible, `type` is more common than `even_type` IMHO.

[2013-12-03 18:56] fangpenlin commented on #71
I am think about some special cases for invoice adjustment. Say, we own a guy John 100 cents, so there is an adjustment -100 should be applied to the latest invoice. But what if John's latest invoice has only 50 cents in total. By applying -100 cents to 50, we still own John 50 cents.

In my opinion, it's better to leave this kind of logic to user rather than build them into Billy. Which means we

[2013-12-03 19:02] mjallday commented on #71
Currently in the case outlined above Balanced will generate an invoice for a with a $0 total and decrement the amount owed to the customer. Balanced will continue to do this until the balance has been used up and then generate invoices as normal.

I'm not sure if this is optimal or should be handled by Billy.

[2013-12-03 19:24] mahmoudimus commented on #71
@victorlin in my opinion, @mjallday has the Principle of Least Surprise solution. While Billy should be configurable and customizable, we're ultimately trying to build the best product -- so we should keep in mind sensible defaults.

Fwiw, this is also the most common solution to this problem from other providers.

[2013-12-03 23:32] mbr commented on #71
So was there a consensus reached on what to do?

[2013-12-04 19:37] mjallday commented on #71
@mbr i think the first step is to implement an MVP it so that it satisfies the requirements for Balanced's invoices. we can extend it from there.
- [ ] extending the items collection to be `type` `quantity` `unit` `amount` `description` `total`
- [ ] ensure we can create invoices with a total amount of $0.00

I believe that's all we need for now. It will become clearer once we get #72 in place sin

[2013-12-04 22:54] fangpenlin commented on #72
A little bit new thinking about how this should go.  I think merely running Billy with dummy processor cannot allow us to spot some real issues in real life battlefield. So, I think, maybe we should add a step before the last one - which is to let Billy really charge a partition of invoice, say, 1% or something like that.

We can apply a hash on the event ID, like

[code]

if this goes true, then

[2013-12-04 22:55] mahmoudimus commented on #72
@victorlin can you elaborate why we shouldn't use a dummy processor? why can't we use a test marketplace to issue bank account debits?

[2013-12-04 23:00] fangpenlin commented on #72
@mahmoudimus We can, but I think there will be some issues in corner cannot be spotted then, the feeling is just like, you do something in a lab, everything goes fine, but when it comes out to the real environment, boom!

By doing that, is just to make sure when we switch the loading to Billy, it is more solid.

[2013-12-04 23:02] mahmoudimus commented on #72
@victorlin the test / production code runs exactly the same and goes all the way down the processor so there's nothing to worry about.

[2013-12-04 23:02] mahmoudimus commented on #72
But yes, I understand your concern.

[2013-12-04 23:03] fangpenlin commented on #72
@mahmoudimus Well, great, then current steps to migrate will do :)

[2013-12-19 02:25] mjallday opened #73 "Generate End-of-Year invoice report for marketplaces"
From https://github.com/balanced/balanced-api/issues/453 by @jkwade

[2013-12-19 02:25] #73 closed, assigned to nobody

[2013-12-19 02:43] fangpenlin opened #74 "Figure out a way to make Balanced works with Billy"
Original posted here:
https://github.com/PoundPay/balanced/issues/300

As the design of Balanced API doesn't allow us to charge bank account cross marketplaces, explained in following diagram

![billy_balance_02](https://f.cloud.github.com/assets/201615/1779761/9d14bb62-6856-11e3-9d23-2672f512a098.png)

Therefore, we will need a marketplace dedicated for invoicing, and have all marketplace owner c

[2013-12-19 03:41] mahmoudimus opened #75 "Reference Moonpig - A Billing System That Doesn't Suck"
http://www.reddit.com/r/programming/comments/1t74nh/moonpig_a_billing_system_that_doesnt_suck/

http://perl.plover.com/classes/Moonpig/

http://blog.plover.com/2013/12/17/#Moonpig

ping @rjbs @mjdominus

[2013-12-19 03:42] mahmoudimus commented on #75
- Times and time zones suck
- Floating-point arithmetic sucks
- It sucks to fix your mangled data after an automated process fails
- Testing a yearlong sequence of events sucks
- It sucks to have your automated test accidentally send a bunch of bogus invoices to the customers
- Rounding errors suck
- Relational databases usually suck
- Modeling objects in the RDB really really sucks
- Perl's garba

[2014-01-08 18:56] tokudu commented on #1
+1

[2014-01-09 10:58] #70 closed, assigned to fangpenlin

[2014-01-10 01:30] coderanger opened #77 "Package Billy using Omnibus"
Check out https://github.com/balanced/omnibus-balanced/blob/master/config/software/rump.rb and https://github.com/balanced/omnibus-balanced/blob/master/config/projects/rump.rb as examples of packaging a Python application.

To test building the package you can clone the https://github.com/balanced-cookbooks/balanced-omnibus repository and run `vagrant up billy`. This should create a .deb package w

[2014-01-10 08:24] fangpenlin commented on #77
@coderanger

Just added billy project here.

https://github.com/balanced/omnibus-balanced/pull/4

Tried to generate a .deb find, installed it, and I think it works. The .dep file installs Billy into /opt/billy/embedded/

So, what to do next? Is this Omnibus packing a new approach for deployment? Should I modify https://github.com/balanced-cookbooks/balanced-billy to install this .dep file instead

[2014-01-10 08:32] coderanger commented on #77
Hold tight on the cookbook changes for now :-) We are using rump as a prototype to figure out how to setup the build and acceptance pipelines so we'll get there soon!

[2014-02-07 21:47] mjallday opened #79 "Will Billy be integrated into the Balanced dashboard?"
From IRC:

[2014-02-07 22:17] mjallday commented on #79
From IRC:

[code]

[2014-02-09 23:17] playmaker1820 opened #80 "appears_on_statement_as parameter for Billy transactions"
I've been unable to find a way to specify the appears_on_statement_as for Billy recurring transactions.  I would think this parameter would exist when you create a plan.

Does this functionality already exist?  If not, this would be a valuable enhancement.

[2014-02-11 02:18] fangpenlin commented on #80
@playmaker1820

Specifying `appears_on_statement_as` for recurring transactions is implemented in the new branch. We will deploy it soon recently.

[2014-03-01 02:38] mjallday commented on #80
@victorlin any update on this?

[2014-03-01 03:10] fangpenlin commented on #80
@mjallday It's already in our newly deployed billy stack

[2014-03-06 23:05] jkwade opened #81 "Put micro-deposit verification logic into Billy"
From a potential customer:

It's not efficient for a customer to use Balanced for this if they won't also be using Balanced's ACH Debts functionality. Does it make sense or Billy to contain the logic for MDVs, so these customers can use Billy with another ACH provider?

[2014-03-12 22:31] steveklabnik commented on #40
URLs are globally unique IDs, whereas ID numbers are not.

[2014-03-20 16:41] mjallday opened #83 "PHP Client"
We have customers that would like to use Billy but have projects implemented in PHP.

e.g. balanced/balanced-api#536

[2014-04-21 17:42] fangpenlin opened #84 "Use v1.1 Balanced API instead of v1.0"
Since v1.0 API has 50 cents minimum debit and credit limitation, I should use v1.1 so that it can charge amount which is lesser than 50 cents.

[2014-04-21 22:07] #84 closed, assigned to nobody

[2014-06-16 19:56] fangpenlin opened #87 "Allow 127.0.0.1 and localhost to call API via XHR"

[2014-06-16 21:46] #87 closed, assigned to fangpenlin

[2014-07-11 16:37] rootedsoftware opened #89 "Change debit.succeeded event"
In order to keep Billy events similar to balanced native events Billy should change the debit.succeeded event

Here is part of a debit.succeeded event.

"status": "succeeded",
"transaction_number": "W660-650-7905",
"description": "Generated by Billy from invoice IVHg6KNHnE86ZEFxXJUmny9F",

If the event was changed to include the invoice guid on a separate line then event parsing could be done more

[2014-09-03 03:49] rootedsoftware commented on #89
Is this code base still being updated? I see there hasn't been any updates in a really long time.

[2014-09-04 02:20] fangpenlin commented on #89
@c316 sorry I've been busy with other projects so forgot to reply this.

Adding a `invoice_guid` field requiring to change Balanced API, since Billy is a standalone system from Balanced API system. I would say it's not a good idea to have a new field `invoice_guid`. Instead, there is a `meta` dictionary which is designed to store application relative information. I can add a `billy.invoice_guid` i

[2014-09-04 03:01] rootedsoftware commented on #89
Yes. Also, is Balanced planning on supporting Billy in the future, or what
are the plans for it?
On Sep 3, 2014 9:20 PM, "Victor Lin" notifications@github.com wrote:

[2014-09-05 20:23] fangpenlin commented on #89
@c316 I will fix this issue recently when I have spare time. Unfortunately developing Billy is not included in short term plans. But in middle or long time, we will have some update on this project.

[2014-09-20 01:26] rootedsoftware commented on #89
@victorlin also, the debit.succeeded, created and failed events on successive subscription transactions need to have the subscription GUID since there isn't any other way to know where these new debits are coming from. (unless I missed it)

[2014-09-22 01:24] rootedsoftware opened #90 "Subscription with items"
Is it possible to setup a subscription with items? I work for a non-profit and I'd like to track donation campaigns and funds with subscriptions. Currently I generate the subscription, and then I store the campaign and fund information outside of the subscription, but it would be great to have functionality similar to `items` or `meta` inside of subscriptions.

[code]

[2014-11-25 21:57] rootedsoftware opened #91 "Allow orders to be used from within Billy"
Right now I don't see a way to use balanced orders for Billy transactions.

Enhancement:
Allow order creation from Billy

[2015-01-13 15:09] rootedsoftware opened #92 "SSL Cert has expired"
https://billy.balancedpayments.com
![screen shot 2015-01-13 at 9 07 02 am](https://cloud.githubusercontent.com/assets/3142974/5722670/d3205bfe-9b03-11e4-8fef-e5976a2ad544.png)

[2015-01-13 16:00] rootedsoftware commented on #92
This workaround worked for me on Node.js (actually I use meteor, but it runs on Node) http://stackoverflow.com/questions/20433287/node-js-request-cert-has-expired

[2015-01-13 17:00] mahmoudimus commented on #92
@c316 thanks for letting me know. somehow billy fell through the cracks from our automated SSL updaters. I'll update now.

[2015-01-13 18:24] mahmoudimus commented on #92
@c316 fixed

![image](https://cloud.githubusercontent.com/assets/40820/5726194/5ee373a6-9b0e-11e4-8f8b-2c153d05872b.png)

[2015-01-13 18:25] mahmoudimus commented on #92
@c316 can you confirm on your end?

[2015-01-13 20:28] rootedsoftware commented on #92
Yes, looks good.

[2015-01-13 20:28] #92 closed, assigned to nobody

[2015-02-02 18:52] rootedsoftware opened #93 "Add new status for subscriptions"
Any chance Billy will support suspending a recurring payment? Right now I can only cancel a subscription, but it would be nice to be able to suspend it for a time and then turn it back on when I need to.

Thanks

[2015-03-09 19:08] rootedsoftware opened #94 "Send event when subscription is canceled"
It would be great to see an event from Balanced when a Billy subscription is canceled.

[2015-03-15 00:44] tnhipps opened #95 "Balanced Payments is shutting down"
Balanced just put up their 90 days till shut down.  Look into synapsepay.com (Disclosure: I am an engineer at Synapsepay).  They have 25 cents recurring bank transactions.

[2015-12-29 15:59] #94 closed, assigned to nobody

[2015-12-29 15:59] #93 closed, assigned to nobody

[2015-12-29 15:59] #91 closed, assigned to nobody

[2015-12-29 15:59] #90 closed, assigned to nobody